<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>Servlets.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <display-name>File</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>MenuChoiceHandler</display-name>
    <servlet-name>MenuChoiceHandler</servlet-name>
    <servlet-class>Servlets.MenuChoiceHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuChoiceHandler</servlet-name>
    <url-pattern>/MCH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIdentifier</display-name>
    <servlet-name>UserIdentifier</servlet-name>
    <servlet-class>Servlets.UserIdentifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIdentifier</servlet-name>
    <url-pattern>/UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountManagerChoiceHandler</display-name>
    <servlet-name>AccountManagerChoiceHandler</servlet-name>
    <servlet-class>Servlets.AccountManagerChoiceHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManagerChoiceHandler</servlet-name>
    <url-pattern>/AMCH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>Servlets.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>Servlets.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>Servlets.C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/C</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>D</display-name>
    <servlet-name>D</servlet-name>
    <servlet-class>Servlets.D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/D</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>E</display-name>
    <servlet-name>E</servlet-name>
    <servlet-class>Servlets.E</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E</servlet-name>
    <url-pattern>/E</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSteuer</display-name>
    <servlet-name>AdminSteuer</servlet-name>
    <servlet-class>Servlets.AdminSteuer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSteuer</servlet-name>
    <url-pattern>/AdminSteuer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationManager</display-name>
    <servlet-name>OperationManager</servlet-name>
    <servlet-class>Servlets.OperationManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationManager</servlet-name>
    <url-pattern>/OperationManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option3</display-name>
    <servlet-name>Option3</servlet-name>
    <servlet-class>Servlets.Option3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option3</servlet-name>
    <url-pattern>/3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option4</display-name>
    <servlet-name>Option4</servlet-name>
    <servlet-class>Servlets.Option4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option4</servlet-name>
    <url-pattern>/4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option5</display-name>
    <servlet-name>Option5</servlet-name>
    <servlet-class>Servlets.Option5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option5</servlet-name>
    <url-pattern>/5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCreator1</display-name>
    <servlet-name>UserCreator1</servlet-name>
    <servlet-class>Servlets.UserCreator1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreator1</servlet-name>
    <url-pattern>/UserCreator1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Launcher</display-name>
    <servlet-name>Launcher</servlet-name>
    <servlet-class>Servlets.Launcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Launcher</servlet-name>
    <url-pattern>/Launcher</url-pattern>
  </servlet-mapping>
</web-app>